{% extends "OrdisMainBundle::layout.html.twig" %}

{% block title %}Види робіт{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row" ng-app="Ordis" ng-controller="JobsController">
	<div class="col-md-10" ng-repeat="job in jobs">
		<div class="media">
		  <a class="media-left">
		    <img width="128" height="128" src="http://2.bp.blogspot.com/-I3Znk89o1OU/T41j9yJxtsI/AAAAAAAAAG8/soUljkR-aL8/s1600/d0bcd0b0d0bbd18fd180d0bdd18bd0b5_d180d0b0d0b1d0bed182d18b.jpg" alt="Image">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading"><b>[[job.name]]</b><button type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button><button type="button" class="close"><span class="glyphicon glyphicon-pencil"></span></button></h4>
		    <p class="text-justify">[[job.description]]</p>
		  </div>
		</div>
		<hr>
	</div>
</div>
{% endblock %} 

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/ordis/js/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ordis/js/angularInitialization.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ordis/js/angularJobsController.js') }}"></script>
<script>
var URLS = {
		ngJobsGet: "{{ path('ordis_ng_jobs') }}"
}
</script>
{% endblock %}