.header-background {
	top: 0px;
	width: 100%;
	height: auto;
}

.header-background img {
	width: 100%;
	height: auto;
}
.header-background a {
	dosplay: block;
	position: absolute;
	width: 250px;
	height:auto;
	top: 30px;
	left: 15%;;
}

.header-background a > img {
	width: 100%;
	height: auto;
}

.footer-background {
	top: 0px;
	width: 100%;
	height: auto;
}

.footer-background img {
	width: 100%;
	height: auto;
}




#user-navbar {
	z-index: 1;
	margin-bottom: -51px;
	opacity: 0.95;
}

@media (min-width: 768px) {
  .header-background{
  	display: block;
  }
}

@media (max-width: 768px) {
  .header-background{
  	display: none;
  }
  #user-navbar {
	margin-bottom: 0px;
}
}



.partners img {
	width: 128px;
	height: 128px;
}
