{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Про нас{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li class="active">Про нас</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1><span>Lorem Ipsum</span></h1>
		<h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
		<h5>"Немає нікого, хто любив би самий біль, хто б шукав його чи хотів би його зазнавати тільки через те, що він - біль..."</h5>
		<div class="box">
			<div style="float:right;margin-left:6px;margin-bottom:6px;">
				<a target="_blank" href="http://www.cafepress.com/lipsum/"><img src="http://uk.lipsum.com/images/lipsum04.gif" width="100" height="100" border="0" alt="Lipsum"></a><br>
				<a target="_blank" href="http://www.cafepress.com/lipsum/"><img src="http://uk.lipsum.com/images/lipsum07.gif" width="100" height="100" border="0" alt="Lipsum"></a><br>
				<a target="_blank" href="http://www.cafepress.com/lipsum/"><img src="http://uk.lipsum.com/images/lipsum08.gif" width="100" height="100" border="0" alt="Lipsum"></a><br>
				<a target="_blank" href="http://www.cafepress.com/lipsum/"><img src="http://uk.lipsum.com/images/lipsum05.gif" width="100" height="100" border="0" alt="Lipsum"></a><br>
			</div>
			<div id="lipsum">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor congue leo. Nullam mollis feugiat ipsum sit amet porta. Nulla facilisi. Curabitur eu sem non nulla fermentum faucibus. Aenean sagittis malesuada erat id finibus. Nullam tempor sem lorem, nec mollis lacus tempor vel. Donec quis metus nec nulla bibendum consequat ac at sem. Aliquam vestibulum justo in libero molestie efficitur sit amet non nibh. Morbi et nisl velit. Morbi tristique nisl id fringilla posuere. Cras et sem quis lorem volutpat iaculis at id urna. Nulla sit amet commodo metus. Donec diam mauris, consequat ut tellus ac, luctus suscipit magna.
				</p>
				<p>
				Proin vel sapien et ante lobortis pretium. Donec porta, dolor pretium commodo interdum, mi purus malesuada dui, sit amet elementum magna diam accumsan ante. Maecenas congue, tortor et eleifend dignissim, erat nibh elementum dui, imperdiet sollicitudin nisi justo nec velit. Quisque auctor et sem ut rutrum. Nulla tempus pulvinar neque, tempus euismod leo dapibus sit amet. Integer orci libero, tincidunt nec diam eu, aliquet viverra ante. Aliquam luctus libero vel risus malesuada fermentum. Fusce suscipit, lorem a sodales blandit, elit est dignissim lacus, et sagittis ex libero cursus libero. Aliquam at euismod sem, eu pharetra sapien.
				</p>
				<p>
				Sed nec ipsum velit. Morbi bibendum nunc quis velit aliquam ullamcorper. Cras maximus lorem arcu, et mattis sapien finibus a. Sed velit metus, gravida vitae neque quis, sagittis pretium nisl. Integer in dapibus leo, ac mattis eros. Aliquam ipsum neque, imperdiet vehicula feugiat id, condimentum ac nibh. Proin ut dui non velit semper tempus ac rutrum odio. Etiam nec urna mattis, mattis leo quis, faucibus mi. Cras sed viverra lectus, eget fringilla augue. Nam ultrices aliquam pretium. In a accumsan augue. Etiam aliquam pulvinar lectus id sollicitudin. Phasellus at urna consectetur tortor ultricies vestibulum nec quis metus. Vivamus pretium sodales facilisis.
				</p>
				<p>
				Suspendisse sagittis diam libero, in vestibulum eros molestie eu. Ut gravida molestie ligula. Nullam id accumsan sapien. Praesent non facilisis metus. Vestibulum risus nisi, pulvinar id iaculis eget, vehicula vel est. Cras pretium mattis auctor. Aliquam neque purus, vestibulum eu dictum ut, tristique at ligula. Nulla ex ipsum, egestas sed enim id, scelerisque ullamcorper arcu. Quisque porttitor egestas justo, quis vehicula orci sollicitudin id. Suspendisse quis rhoncus neque, quis mattis odio. Integer consequat faucibus turpis et pellentesque.
				</p>
				<p>
				Phasellus justo orci, venenatis a pharetra sit amet, porta in sapien. Phasellus nisi mauris, sollicitudin eu sapien et, eleifend eleifend orci. Integer auctor felis nec libero dapibus sodales. Ut in elementum nulla, vitae congue tellus. In ultricies, nibh eget porttitor feugiat, ex leo pulvinar nisl, ut convallis nisi elit id lorem. Maecenas consectetur velit nunc, ullamcorper ultricies sem ultrices ac. Integer ultrices tellus odio, at vehicula diam varius sit amet. Etiam luctus fringilla ex et imperdiet. Proin neque arcu, sagittis rutrum ligula eu, mollis pellentesque turpis. Pellentesque pellentesque varius sodales. Donec tristique velit et est rhoncus porttitor. Maecenas convallis sapien eu facilisis ornare. Nunc porta sit amet risus vehicula hendrerit. Proin aliquam non quam sit amet facilisis.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %} 

{% block javascripts %}
{% endblock %}