{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Види робіт{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div ng-app="Renovate" ng-controller="JobsController">
	<div class="row">
		<div class="col-md-4">
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="itemsPerPage" class="col-sm-8 control-label">Показувати на сторінці</label>
			    <div class="col-sm-3">
			      	<select id="itemsPerPage" class="form-control" ng-model="itemsPerPage">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					  <option>10</option>
					  <option>25</option>
					  <option>50</option>
					  <option>100</option>
					</select>
			    </div>
			  </div>
			</form>
		</div>
		<div class="col-md-4">
			<button ng-click="addJob()" type="button" class="btn btn-success">Додати&nbsp;<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage" max-size="5"></pagination>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" ng-repeat="job in jobs">
			<div class="media">
			  <a class="media-left">
			    <img width="128" height="128" src="http://2.bp.blogspot.com/-I3Znk89o1OU/T41j9yJxtsI/AAAAAAAAAG8/soUljkR-aL8/s1600/d0bcd0b0d0bbd18fd180d0bdd18bd0b5_d180d0b0d0b1d0bed182d18b.jpg" alt="Image">
			  </a>
			  <div class="media-body">
			    <h4 class="media-heading"><b>[[job.name]]</b><button ng-click="removeJob(job.id)" type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button><button ng-click="editJob(job.id)" type="button" class="close"><span class="glyphicon glyphicon-pencil"></span></button></h4>
			    <p class="text-justify">[[job.description]]</p>
			  </div>
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage" max-size="5"></pagination>
		</div>
	</div>
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            Selected: <b>[[ name ]]</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
{% endblock %} 

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/renovate/js/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/renovate/js/ui-bootstrap-tpls-0.12.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/renovate/js/angularInitialization.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/renovate/js/angularJobsController.js') }}"></script>
{% endblock %}