{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Послуги компанії{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li class="active">Послуги компанії</li>
</ol>
{% endblock %}

{% block content %}
<div ng-controller="ServicesController">
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
			  <div class="form-group">
			    <label for="itemsPerPage">На сторінці</label>
		      	<select id="itemsPerPage" class="form-control" ng-model="itemsPerPage">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				  <option>10</option>
				  <option>25</option>
				  <option>50</option>
				  <option>100</option>
				  <option>500</option>
				  <option>1000</option>
				</select>
			  </div>
			  <div class="form-group">
				    <label for="clientRoles">Роль </label>
				    <select id="clientRoles" ng-options="clientRole.id as clientRole.name for clientRole in clientRoles" class="form-control" ng-model="filter.role">
						<option value="">усі</option>
					</select>
			  </div>
			  <div class="form-group">
				    <label for="categories">Категорія</label>
				    <select id="categories" ng-options="serviceCategory.id as serviceCategory.name for serviceCategory in serviceCategories" class="form-control" ng-model="filter.category">
						<option value="">усі</option>
					</select>
			  </div>
			  <div class="form-group">
				  		Тип
					  	<label class="radio-inline">
						  <input ng-model="filter.type" type="radio" name="inlineRadioOptions" id="inlineRadio1"> усі
						</label>
						<label class="radio-inline">
						  <input ng-model="filter.type" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="boolean"> чекбокс
						</label>
						<label class="radio-inline">
						  <input ng-model="filter.type" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="object"> радіобатн
						</label>
					</div>
			</form>
		</div>
		<div class="col-md-12" style="margin-top: 20px;">
			<button ng-click="addService()" type="button" class="btn btn-success">Додати&nbsp;<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage" max-size="5"></pagination>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-mobile">
      			<thead>
			        <tr>
			          <th>#</th>
			          <th>Назва</th>
			          <th>Роль</th>
			          <th>Категорія</th>
			          <th>Ціна</th>
			          <th>Тип</th>
			          <th><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
			        </tr>
      			</thead>
      			<tbody>
      				<tr class="splash" ng-cloak>
	      				<td colspan="7">
							<div class="image center-block"></div>
						</td>
      				</tr>
			        <tr ng-repeat="service in services" ng-cloak>
			          <th scope="row">[[(currentPage-1)*itemsPerPage+$index+1]]</th>
			          <td>[[service.name]]</td>
			          <td>[[service.role.name]]</td>
			          <td>[[service.category.name]]</td>
			          <td>[[service.price]] грн</td>
			          <td>[[service.type]]</td>
			          <td><button ng-click="removeRepair(repair, $event)" type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button><button ng-click="editRepair(repair, $event)" type="button" class="close"><span class="glyphicon glyphicon-pencil"></span></button></td>
			        </tr>
      			</tbody>
    		</table>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12 text-center">
			<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage" max-size="5"></pagination>
		</div>
	</div>
	<script type="text/ng-template" id="addService.html">
        <div class="modal-header">
            <h3 class="modal-title">Додати вид послуг...</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="jobForm">
  				<div class="form-group" ng-class="{'has-error': jobForm.jobName.$invalid && !jobForm.jobName.$pristine}">
    				<label for="jobName" class="col-sm-2 control-label">Назва</label>
    				<div class="col-sm-10">
      					<input ng-model="job.name" type="text" class="form-control" id="jobName" name="jobName" required>
    					<p ng-show="jobForm.jobName.$invalid && !jobForm.jobName.$pristine" class="help-block">Введіть назву.</p>
					</div>
  				</div>
				<div class="form-group" ng-class="{'has-error': jobForm.jobDocument.$invalid && !jobForm.jobDocument.$pristine}">
    				<label for="jobDocument" class="col-sm-2 control-label">Обкладинка</label>
    				<div class="col-sm-10">
      					<select ng-options="document.id as document.name for document in documents" class="form-control" id="jobDocument" ng-model="job.documentid" name="jobDocument" required>
  						</select>
						<p ng-show="jobForm.jobDocument.$invalid && !jobForm.jobDocument.$pristine" class="help-block">Оберіть обкладинку.</p>
						<input type="file" name="file_upload" id="file_upload" />
					</div>
  				</div>
				<div class="form-group" ng-class="{'has-error': jobForm.jobLabel.$invalid && !jobForm.jobLabel.$pristine}">
    				<label for="jobLabel" class="col-sm-2 control-label">Ярлик</label>
    				<div class="col-sm-10">
      					<select ng-options="document.id as document.name for document in documents" class="form-control" id="jobLabel" ng-model="job.labelid" name="jobLabel">
						</select>
						<p ng-show="jobForm.joLabel.$invalid && !jobForm.jobLabel.$pristine" class="help-block">Оберіть ярлик.</p>
					</div>
  				</div>
  				<div class="form-group" ng-class="{'has-error': jobForm.jobDescription.$invalid && !jobForm.jobDescription.$pristine}">
    				<label for="jobDescription" class="col-sm-2 control-label">Опис</label>
    				<div class="col-sm-10">
						<textarea ng-model="job.description" id="jobDescription" class="form-control" rows="5" name="jobDescription" required></textarea>
    					<p ng-show="jobForm.jobDescription.$invalid && !jobForm.jobDescription.$pristine" class="help-block">Введіть опис.</p>
					</div>
  				</div>
				<div class="form-group">
    				<div class="col-sm-offset-2 col-sm-10">
      					<div class="checkbox">
        					<label>
          						<input type="checkbox" ng-model="job.onhomepage" ng-init="job.onhomepage=false"> Показувати на головній
        					</label>
      					</div>
    				</div>
  				</div>
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="jobForm.$invalid">Зберегти</button>
            <button class="btn btn-warning" ng-click="cancel()">Відміна</button>
        </div>
    </script>
    <script type="text/ng-template" id="editJob.html">
        <div class="modal-header">
            <h3 class="modal-title">Редагування виду робіт...</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="jobForm">
  				<div class="form-group" ng-class="{'has-error': jobForm.jobName.$invalid && !jobForm.jobName.$pristine}">
    				<label for="jobName" class="col-sm-2 control-label">Назва</label>
    				<div class="col-sm-10">
      					<input ng-model="job.name" type="text" class="form-control" id="jobName" name="jobName" required>
    					<p ng-show="jobForm.jobName.$invalid && !jobForm.jobName.$pristine" class="help-block">Введіть назву.</p>
					</div>
  				</div>
				<div class="form-group" ng-class="{'has-error': jobForm.jobDocument.$invalid && !jobForm.jobDocument.$pristine}">
    				<label for="jobDocument" class="col-sm-2 control-label">Обкладинка</label>
    				<div class="col-sm-10">
      					<select ng-options="document.id as document.name for document in documents" class="form-control" id="jobDocument" ng-model="job.documentid" name="jobDocument" required>
  						</select>
						<p ng-show="jobForm.jobDocument.$invalid && !jobForm.jobDocument.$pristine" class="help-block">Оберіть обкладинку.</p>
						<input type="file" name="file_upload" id="file_upload" />
					</div>
  				</div>
				<div class="form-group" ng-class="{'has-error': jobForm.jobLabel.$invalid && !jobForm.jobLabel.$pristine}">
    				<label for="jobLabel" class="col-sm-2 control-label">Ярлик</label>
    				<div class="col-sm-10">
      					<select ng-options="document.id as document.name for document in documents" class="form-control" id="jobLabel" ng-model="job.labelid" name="jobLabel">
						</select>
						<p ng-show="jobForm.joLabel.$invalid && !jobForm.jobLabel.$pristine" class="help-block">Оберіть ярлик.</p>
					</div>
  				</div>
  				<div class="form-group" ng-class="{'has-error': jobForm.jobDescription.$invalid && !jobForm.jobDescription.$pristine}">
    				<label for="jobDescription" class="col-sm-2 control-label">Опис</label>
    				<div class="col-sm-10">
						<textarea ng-model="job.description" id="jobDescription" class="form-control" rows="5" name="jobDescription" required></textarea>
    					<p ng-show="jobForm.jobDescription.$invalid && !jobForm.jobDescription.$pristine" class="help-block">Введіть опис.</p>
					</div>
  				</div>
				<div class="form-group">
    				<div class="col-sm-offset-2 col-sm-10">
      					<div class="checkbox">
        					<label>
          						<input type="checkbox" ng-model="job.onhomepage"> Показувати на головній
        					</label>
      					</div>
    				</div>
  				</div>
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="jobForm.$invalid">Зберегти</button>
            <button class="btn btn-warning" ng-click="cancel()">Відміна</button>
        </div>
    </script>
</div>
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('web/bundles/renovate/js/angularServicesController.js') }}"></script>
{% endblock %}