{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Контакти{% endblock %}

{% block head %}
<link href="{{ asset('web/bundles/renovate/css/contacts.css') }}" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li class="active">Контакти</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="cantacts-block">
		  		<div class="contact-info-box address">
                	<h3><i class="fa-map-marker"></i>Адреса:</h3>
                	<p>ТОВ "RENOVATE"<br>вул. Швабська, буд. 26<br>Ужгород, 88000</p>
                </div>
                <div class="contact-info-box phone">
                	<h3><i class="fa-phone"></i>Відділ кадрів:</h3>
                	<p>+38 099 944 4061</p>
                </div>
                <div class="contact-info-box email">
                	<h3><i class="fa-pencil"></i>Email:</h3>
                	<p>support@renovate.in.ua</p>
                </div>
            	<div class="contact-info-box hours">
                	<h3><i class="fa-clock-o"></i>Ми працюємо:</h3>
                	<p><strong>Понеділок - П’ятниця:</strong> 9:00 - 18:00<br><strong>Субота - Неділя:</strong> Вихідний.</p>
                </div>
		</div>
	
		<ul class="social-link">
        	<li class="twitter"><a href="http://vk.com/renovate"><i class="fa fa-vk"></i></a></li>
            <li class="facebook"><a href="https://www.facebook.com/renovate.in.ua"><i class="fa fa-facebook"></i></a></li>
            <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
	</div>
  	<div class="col-md-6" ng-controller="ContactsController">
		<form ng-submit="contactUs()">
			<h3>Зв’яжіться з нами</h3>
			<div class="form-group">
			    <input type="text" class="form-control" ng-model="message.pip" placeholder="П.І.П." required>
			</div>
			<div class="form-group">
			    <input type="email" class="form-control" ng-model="message.email" placeholder="Ваш e-mail..." required>
			</div>
			<div class="form-group">
			    <select class="form-control" ng-model="message.topic">
				  <option value="Заявка на реєстрацію">Заявка на реєстрацію</option>
				  <option value="Подяка">Подяка</option>
				  <option value="Пропозиція">Пропозиція</option>
				  <option value="Скарга">Скарга</option>
				  <option value="Інше">Інше</option>
				</select>
			</div>
			<div class="form-group">
			    <textarea class="form-control" rows="3" ng-model="message.text" placeholder="Текст повідомлення..."></textarea>
			</div>
			<button style="margin-bottom:10px;" type="submit" class="btn btn-info" ng-class="{disabled: sendButtonDisabled}">Написати</button>
			<alert ng-repeat="alert in alerts" type="[[alert.type]]" close="closeAlert($index)">[[alert.msg]]</alert>
		</form>
	</div>
</div>

<div id="map-canvas"></div>
	
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('web/bundles/renovate/js/googleMapInitialization.js') }}"></script>
<script src="{{ asset('web/bundles/renovate/js/angularContactsController.js') }}"></script>
{% endblock %}