{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Описи сторінок{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
 <ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li class="active">Описи сторінок</li>
 </ol>
{% endblock %}

{% block content %}
<div ng-controller="PageDescriptionsController">
	<div class="row">
		<div class="col-md-4">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="itemsPerPage" class="col-sm-8 control-label">Показувати на сторінці</label>
				    <div class="col-sm-3">
				      	<select id="itemsPerPage" class="form-control" ng-model="itemsPerPage">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						  <option>10</option>
						  <option>25</option>
						  <option>50</option>
						  <option>100</option>
						</select>
				    </div>
				  </div>
				</form>
		</div>
		<div class="col-md-4">
			<button ng-click="addPageDescription()" type="button" class="btn btn-success">Додати&nbsp;<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12 text-center">
				<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage" max-size="5"></pagination>
			</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-mobile">
      			<thead>
			        <tr>
			          <th>#</th>
			          <th>Посилання</th>
			          <th>Опис</th>
			          <th><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></th>
			        </tr>
      			</thead>
      			<tbody>
      				<tr class="splash" ng-cloak>
	      				<td colspan="6">
							<div class="image center-block"></div>
						</td>
      				</tr>
			        <tr ng-repeat="pageDescription in pageDescriptions" ng-cloak>
			          <th scope="row">[[(currentPage-1)*itemsPerPage+$index+1]]</th>
			          <td>[[pageDescription.url | ellipsis:70]]</td>
			          <td>[[pageDescription.description | ellipsis:70]]</td>
			          <td><button ng-click="removePageDescription(pageDescription)" type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button><button ng-click="editPageDescription(pageDescription)" type="button" class="close"><span class="glyphicon glyphicon-pencil"></span></button></td>
			        </tr>
      			</tbody>
    		</table>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12 text-center">
				<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="itemsPerPage" max-size="5"></pagination>
			</div>
	</div>
	<script type="text/ng-template" id="addPageDescription.html">
        <div class="modal-header">
            <h3 class="modal-title">Додати опис сторінки...</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="pageDescriptionForm">
  				<div class="form-group" ng-class="{ 'has-error' : pageDescriptionForm.pageDescriptionUrl.$invalid && !pageDescriptionForm.pageDescriptionUrl.$pristine }">
    				<label for="pageDescriptionUrl" class="col-sm-2 control-label">Посилання</label>
    				<div class="col-sm-10">
      					<input ng-model="pageDescription.url" type="text" class="form-control has-error" id="pageDescriptionUrl" name="pageDescriptionUrl" required>
    					<p ng-show="pageDescriptionForm.pageDescriptionUrl.$invalid && !pageDescriptionForm.pageDescriptionUrl.$pristine" class="help-block">Введіть посилання.</p>
					</div>
  				</div>
				<div class="form-group" ng-class="{ 'has-error' : pageDescriptionForm.pageDescriptionDescription.$invalid && !pageDescriptionForm.pageDescriptionDescription.$pristine }">
    				<label for="pageDescriptionDescription" class="col-sm-2 control-label">Опис</label>
    				<div class="col-sm-10">
      					<textarea ng-model="pageDescription.description" class="form-control" id="pageDescriptionDescription" name="pageDescriptionDescription" required></textarea>
    					<p ng-show="pageDescriptionForm.pageDescriptionDescription.$invalid && !pageDescriptionForm.pageDescriptionDescription.$pristine" class="help-block">Введіть опис.</p>
					</div>
  				</div>
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="pageDescriptionForm.$invalid">Зберегти</button>
            <button class="btn btn-warning" ng-click="cancel()">Відміна</button>
        </div>
    </script>
    <script type="text/ng-template" id="editPageDescription.html">
        <div class="modal-header">
            <h3 class="modal-title">Редагувати опис сторінки...</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="pageDescriptionForm">
  				<div class="form-group" ng-class="{ 'has-error' : pageDescriptionForm.pageDescriptionUrl.$invalid && !pageDescriptionForm.pageDescriptionUrl.$pristine }">
    				<label for="pageDescriptionUrl" class="col-sm-2 control-label">Посилання</label>
    				<div class="col-sm-10">
      					<input ng-model="pageDescription.url" type="text" class="form-control has-error" id="pageDescriptionUrl" name="pageDescriptionUrl" required>
    					<p ng-show="pageDescriptionForm.pageDescriptionUrl.$invalid && !pageDescriptionForm.pageDescriptionUrl.$pristine" class="help-block">Введіть посилання.</p>
					</div>
  				</div>
				<div class="form-group" ng-class="{ 'has-error' : pageDescriptionForm.pageDescriptionDescription.$invalid && !pageDescriptionForm.pageDescriptionDescription.$pristine }">
    				<label for="pageDescriptionDescription" class="col-sm-2 control-label">Опис</label>
    				<div class="col-sm-10">
      					<textarea ng-model="pageDescription.description" class="form-control" id="pageDescriptionDescription" name="pageDescriptionDescription" required></textarea>
    					<p ng-show="pageDescriptionForm.pageDescriptionDescription.$invalid && !pageDescriptionForm.pageDescriptionDescription.$pristine" class="help-block">Введіть опис.</p>
					</div>
  				</div>
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="pageDescriptionForm.$invalid">Зберегти</button>
            <button class="btn btn-warning" ng-click="cancel()">Відміна</button>
        </div>
    </script>
</div>
{% endblock %} 

{% block javascripts %}
<script src="{{ asset('web/bundles/renovate/js/angularPageDescriptionsController.js') }}"></script>
{% endblock %}