{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Тарифи{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
 	<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>
 	<li class="active">Тарифи</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
  			<div class="panel-body">
				<h2 class="text-center"><strong>Шановні клієнти!</strong></h2>
				<p class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ми компанія <strong>“RENEVATE”</strong> намагаємось з найменшими затратами збільшити якість обслуговування Ваших будинків та Ваших прибудинкових територій, прохання обирати тариф який не буде для Вас обтяжливим, та доступним для щомісячного внеску. Ми з своєї сторони обіцяємо покращити Ваші умови проживання в будинках та йти на зустріч всіма доступними способами, а також зробити поповнення Вашого балансу за сплату наших послуг максимально доступними для всіх вікових категорій та національностей. Сподіваємось на розуміння та співпрацю.</p>
				<h4 class="text-center"><strong>Нижче представлена таблиця тарифних планів для різних типів контрактів</strong></h4>
				<p><strong>- Для ОСББ</strong> - це категорія контрактів для (Об'єднання співвласників багатоквартирних будинків).</p>
				<p><strong>- Для багатоквартирних будинків</strong> - це категорія контрактів для будинків, які мають більше 2 окремих квартирних помешкань.</p>
				<p><strong>- Для приватних будинків</strong> - це категорія контрактів, які не мають окремих квартир, та я вдяються приватною власністю одного або декількох осіб.</p>
				<p><strong>- Для приватних установ</strong> - це категорія контрактів з підприємствами, закладами харчування, кафе, кавярнями, магазинами та іншими.</p>
				<p><strong>- Для державних установ</strong> - це категорія контрактів для будь яких державних замовлень.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="tariffs">
			<div class="header">
				<div class="gen">ТАБЛИЦЯ ТАРИФІВ</div>
				<div class="min">МІНІМАЛЬНИЙ</div>
				<div class="mid">СТАНДАРТНИЙ</div>
				<div class="max">МАКСИМАЛЬНИЙ</div>
			</div>
			<div class="row-1">
				<div class="col-1">ВИБІР КОНТРАКТУ</div>
				<div class="col-2"><p>0,97 ГРН</p><span>В МІСЯЦЬ</span></div>
				<div class="col-3"><p>1,47 ГРН</p><span>В МІСЯЦЬ</span></div>
				<div class="col-4"><p>1,97 ГРН</p><span>В МІСЯЦЬ</span></div>
			</div>
			<div class="row-2">
				<div class="col-1">
					<div class="col-11"><a href="">Для ОСББ</a></div>
					<div class="col-12"><a href="">Для багатоквартирних будинків</a></div>
				</div>
				<div class="col-2"><button>АКТИВУВАТИ</button></div>
				<div class="col-3"><button>АКТИВУВАТИ</button></div>
				<div class="col-4"><button>АКТИВУВАТИ</button></div>
			</div>
			<div class="row-3">
				<div class="col-1">
					<div class="col-11"><a href="">Для приватних будинків</a></div>
					<div class="col-12"><a href="">Для приватних установ</a></div>
				</div>
				<div class="col-2">Прорахувати для <input type="text" value="1"/> М<sup><small>2</small></sup></div>
				<div class="col-3">Прорахувати для <input type="text" value="1"/> М<sup><small>2</small></sup></div>
				<div class="col-4">Прорахувати для <input type="text" value="1"/> М<sup><small>2</small></sup></div>
			</div>
			<div class="row-4">
				<div class="col-1"><a href="">Для державних установ</a></div>
				<div class="col-2">При оплаті на рік економія 0,08 грн</div>
				<div class="col-3">При оплаті на рік економія 0,12 грн</div>
				<div class="col-4">При оплаті на рік економія 0,16 грн</div>
			</div>
			<div class="row-5">
				<div class="col-1">&nbsp;</div>
				<div class="col-2"><a href="">Додати послуги</a></div>
				<div class="col-3"><a href="">Додати послуги</a></div>
				<div class="col-4"><a href="">Додати послуги</a></div>
			</div>
			<div class="row-6">
				<div class="col-1">&nbsp;</div>
				<div class="col-2"><a href="">Детальніше про тариф</a></div>
				<div class="col-3"><a href="">Детальніше про тариф</a></div>
				<div class="col-4"><a href="">Детальніше про тариф</a></div>
			</div>
			<div class="row-7">
				<div class="col-1">&nbsp;</div>
				<div class="col-2">&nbsp;</div>
				<div class="col-3">&nbsp;</div>
				<div class="col-4">&nbsp;</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 

{% block javascripts %}
{% endblock %}