{% extends "OrdisMainBundle::layout.html.twig" %}

{% block title %}Головна{% endblock %}

{% block content %}
	<div class="starter-template">
	  <h1>Bootstrap starter template 1111</h1>
	  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	</div>
	
	<div class="starter-template">
	  <h1>Bootstrap starter template2222</h1>
	  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	</div>
	
	<div class="starter-template">
	  <h1>Bootstrap starter template33333</h1>
	  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	</div>
	
	<div class="starter-template">
	  <h1>Bootstrap starter template44444</h1>
	  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	</div>
	
	<div class="starter-template">
	  <h1>Bootstrap starter template</h1>
	  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	</div>
	
	<div class="starter-template">
	  <h1>Bootstrap starter template</h1>
	  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	</div>
	
	<div class="starter-template">
	  <h1>Bootstrap starter template</h1>
	  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
	</div>
{% endblock %} 