{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Головна{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-7">
		<div class="results-for">
		  <div><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTyqOvQZcGOSlnNa5r6SEfMQpHCRt2Xf9TV3I0PjRPR8M2TCSjNzg"/><div class="description"><p>This is test description for first image...<a href="#">Read more</a></p></div></div>
		  <div><img src="http://www.sexyli.com/wp-content/uploads/2013/05/Green-Snake-Image-Wallpaper.jpg"/><div class="description"><p>This is test description for second image...</p></div></div>
		  <div><img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg"/><div class="description"><p>This is test description for third image...</p></div></div>
		  <div><img src="http://belaumi.com/wp-content/uploads/2014/11/3D-Animated-Frog-Image.jpg"/><div class="description"><p>This is test description for fourth image...</p></div></div>
		  <div><img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg"/><div class="description"><p>This is test description for fifth image...</p></div></div>
		  <div><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcTl_vMH-CoyzvsPLVnn_7nWseR410LhlO89SAifVmrCGlkT5mweQQ"/><div class="description"><p>This is test description for six image...</p></div></div>
		  <div><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcSNTX9WjGtHBj3E-s1-hmWEIpD_clcChBhVmRGfBJpZgsBh4WdT"/><div class="description"><p>This is test description for seven image...</p></div></div>
		  <div><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcQpW_T1mJfFPAHnkNx8rUtHPVo6QRSoS3h7KFoPXme7OMJoMuMz"/><div class="description"><p>This is test description for eight image...</p></div></div>
		</div>
		<div class="results-nav">
		  <div><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTyqOvQZcGOSlnNa5r6SEfMQpHCRt2Xf9TV3I0PjRPR8M2TCSjNzg"/></div>
		  <div><img src="http://www.sexyli.com/wp-content/uploads/2013/05/Green-Snake-Image-Wallpaper.jpg"/></div>
		  <div><img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg"/></div>
		  <div><img src="http://belaumi.com/wp-content/uploads/2014/11/3D-Animated-Frog-Image.jpg"/></div>
		  <div><img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg"/></div>
		  <div><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcTl_vMH-CoyzvsPLVnn_7nWseR410LhlO89SAifVmrCGlkT5mweQQ"/></div>
		  <div><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcSNTX9WjGtHBj3E-s1-hmWEIpD_clcChBhVmRGfBJpZgsBh4WdT"/></div>
		  <div><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcQpW_T1mJfFPAHnkNx8rUtHPVo6QRSoS3h7KFoPXme7OMJoMuMz"/></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<iframe width="100%" height="400" src="//www.youtube-nocookie.com/embed/2RyjBi6JF0Q" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
{% endblock %} 

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/renovate/js/slidersInitialization.js') }}"></script>
{% endblock %}